body.body {
    background: linear-gradient(0deg, rgba(16, 16, 21, 1) 0%, rgba(48, 48, 69, 1) 100%);
    color: sandybrown;
}

html {
    height: 100%;
}

h1.page-title {
    text-align: center;
}

.logo {
    margin-left: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

p.auth {
    margin: 0;
}

.quit-button, .profile-btn {
    color: sandybrown;
    text-decoration: none;
}

.quit-button:hover, .profile-btn:hover {
    color: sandybrown;
    opacity: 0.9;
    transform: scale(1.2);
    transition-duration: 200ms;
}

.content {
    margin: 10px auto;
    width: 900px;
    padding: 10px;
}

input.form-control {
    width: auto;
}

.event {
    background-position: 50% 50%;
    /*background-attachment: fixed;*/
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


.event h3 {
    color: darkkhaki;
    text-shadow: 0 0 10px black;
}

.event:hover {
    transform: scale(1.02);
    transition-duration: 500ms;
    opacity: 0.9;
}

